@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a demo Leadboard app made by Ufuk Seyithan Erdem, <a class="link" asp-area="" asp-controller="Entries" asp-action="Index">click here</a> to view current entries of the leaderboard.</p>
</div>
